// Vendor-specific overrides here
.card {
  &.--testimonial-card {
    background-color: #F7F8F9;
    border-radius: 20px;
    padding: 30px;
    border: none;
    margin-bottom: 30px;

    p {
      line-height: 24px;
    }
  }
}