* {
  transition: all 200ms ease-in-out;
}

:root {
  font-size: 16px;
}

*:focus {
  outline: none !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  color: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

section {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

p {
	font-family: $font-secondary;
	color: $dark-grey;
	font-weight: 300;
	line-height: 30px;

	&.p2 {
		font-size: 0.875rem;
	}

	&.p3 {
		font-size: 1.125rem;
		font-weight: 400;
		line-height: 1.75rem;
	}
}

h1, .h1 {
	font-family: $font-primary;
	font-weight: 900;
	// font-size: 3.75rem;
	font-size: 3rem;
	line-height: 4rem;

	@media screen and (min-width: 768px) {
		font-size: 4.5rem;
		line-height: 4.25rem;
	}

	@media screen and (min-width: 992px) {
		font-size: 5rem;
		line-height: 5.25rem;
	}
}

h2, h2 {
	font-family: $font-primary;
	font-weight: 900;
	font-size: 2.75rem;
	line-height: 3.25rem;

	@media screen and (min-width: 768px) {
		font-size: 3rem;
		line-height: 4rem;
	}

	@media screen and (min-width: 992px) {
		font-size: 3.75rem;
		line-height: 4.25rem;
	}
}
 
h3, .h3 {
	font-family: $font-primary;
	font-weight: 900;
	font-size: 3rem;
}

h4 {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 2.125rem;
	line-height: 3rem;
}

h5 {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 1.5rem
}

h6 {
	font-family: $font-primary;
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.subheader-1 {
	font-size: 1.25rem;
	font-weight: 300;
	color: $grey;
	line-height: 1.875rem;
}

hr {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
}

a:hover {
	text-decoration: none;
	color: $primary;
}

.super-title {
	color: $primary;
	font-size: 0.75rem;
	letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

.caption {
	font-weight: 400;
	font-size: 0.875rem;
	color: $grey;
}

.label2 {
	text-transform: uppercase;
	font-family: $font-primary;
	line-height: 1.25rem;
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: .5px;
}