.btn {
	border-radius: 0px;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 0.875rem;
	text-transform: uppercase;

	&.btn-primary {
		background: $primary;
		color: $black;
		padding: 20px;
		min-width: 240px;
		border: 1px solid $primary;

		&:hover,
		&:focus,
		&:active {
			background: $white;
		}

		&.alt {
			background: $black;
			border: 1px solid $primary;
			color: $white;

			&:hover,
			&:focus,
			&:active {
				// border: 1px solid $white;
				color: $black;
				background: $white;
			}
		}
	}
}

.btn-outline-primary {
	background-color: transparent;
	background-image: none;
	border-color: $primary;
	color: $black;
	min-width: 115px;
	line-height: 1.9;

	&:hover,
	&:focus,
	&:active {
		color: #fff;
		background-color: $primary;
		border-color: $primary;
	}
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: $primary;
	border-color: $primary;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show > .btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: $primary;
	border-color: $primary;
}

.btn-xl {
	font-size: 1.125rem !important;
	padding: 25px 20px !important;
}