// Add typeface imports here

// @import url("https://fonts.googleapis.com/css?family=Exo+2:400,600");
// $exo: "Exo 2", sans-serif;

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');

