.form-group {
  margin-bottom: 2rem;

  label{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-size: 0.75rem;
  }
}

label.custom-control-label {
  &.--label2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: none;
    letter-spacing: unset;
    font-family: $font-secondary;
  }
}

.form-control.alt,
.custom-select.alt {
  background-color: rgba($white, .05);
  border-color: transparent;
  padding: 1.07rem 1.3rem;
  color: $white;
  height: auto;
  font-family: $font-secondary;

  &:focus {
    color: $white;
    background-color: rgba($white, .1);
    border-color: transparent;
    outline: 0;
    box-shadow: none;
  }

  &::placeholder {
    color: rgba($white, .3);
  }
}

.form-control,
.custom-select {
  background-color: rgba($black, .05);
  border-color: transparent;
  padding: 1.07rem 1.3rem;
  color: $black;
  height: auto;
  border-radius: 0;
  font-family: $font-secondary;

  &:focus {
    background-color: rgba($black, .15);
    color: $black;
    box-shadow: none;
    outline: 0;
    border-color: transparent;
  }
}

.enrollment-terms {
  .custom-control-label {
    color: #555;

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }
  }
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $success;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: $white;
  background-color: $success;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: $dark-grey;
}