.navbar {
	// border-bottom: 1px solid #191919;
	// background: #000;
	padding: 0rem 1rem;
	max-width: 1170px;
	margin: 0 auto;

	.navbar-brand {
		margin-right: 60px;
	}
	.navbar-nav {

		.nav-item {
			margin-right: 24px;
			padding: 10px 0px;
			border-top: 3px solid transparent;

			@media screen and (min-width: 992px) {
				padding: 19px 0px;
			}

			&.active {
			border-top: 3px solid $primary;
			}
			.nav-link {
				font-size: 12px;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-weight: 600;
				color: #fff;

				&.btn-primary.alt {
					padding: 7px 20px;
					min-width: fit-content;
					width: fit-content;
				}
			}
		}
	}
}

.nav-container {
	&.scrolled {
		background: $black;
	}
}