.banner-inner {
  background-color: $black;
  min-height: calc(350px + 5rem);
  display: flex;
  align-items: center;
  padding: 0;

  &.banner-inner-md {
    min-height: calc(413px + 5rem);
  }

  &.banner-inner-lg {
    min-height: calc(520px + 5rem);
  }
}

.banner-inner-content {
  h1 {
    font-size: 5rem;
  }
}