.ns-nav-tabs {
  .nav-link {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 600;
    color: $grey;
    padding-bottom: 30px;
    border-bottom: 4px solid transparent;

    &.active {
      border-bottom-color: $primary;
      color: $white;
    }
  }

  &.--ns-nav-tabs-alt {
    position: relative;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $ghost;
      margin-top: -1px;
    }

    .nav-item {
      &:not(:last-child) .nav-link {
        margin-right: 40px;
      }
    }
    
    .nav-link {
      text-transform: uppercase;
      font-size: 0.875rem;
      letter-spacing: 1px;
      line-height: 40px;
      font-weight: 600;
      color: $grey;
      padding: 0 0 12px 0;
      border-bottom: 4px solid transparent;
  
      &.active {
        border-bottom-color: $primary;
        color: $black;
      }
    }
  }
}