.program-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  @media only screen and (min-width: 425px) {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
	}

  @media only screen and (min-width: 576px) {
    height: 420px;
    max-width: unset;

    &:hover  {
      .program-card-details {
        transform: translateY(-120px);
      }
    }
	}
  
  @media only screen and (min-width: 768px) {
    height: 440px;
  }
}

.program-card-img {
  background: url(/img/card-img.jpg) no-repeat center center;
  background-size: auto 240px;
  height: 240px;
  width: 100%;
}

.program-card-details {
  background-color: $white;
  padding: 30px;
  color: $black;
  transform: translateY(0px);
  transition: all 200ms ease-in-out;

  @media only screen and (min-width: 576px) {
    position: absolute;
    max-height: 320px;
    min-height: 320px;
	}

  .super-title {

		b {
			color: $light-grey;
			font-size: 18px;
		}

		span {
			color: $grey;
		}
  }

  h4 {
    font-weight: 900;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 10px;
    
    @media only screen and (min-width: 768px) {
      font-size: 2.125rem;
      line-height: 2.375rem;
    }

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }
	}

	p {
    margin: 20px 0 0 0;
    
    @media only screen and (min-width: 576px) {
      line-height: 24px;
      font-size: 1rem;
      margin: 28px 0 0 0;
    }
	}

	> span {
		font-size: 0.875rem;

		> b {
			font-weight: 400;
			color: $red;
		}
	}
}