.program-list-item {
  display: flex;
  flex-direction: column;
  color: $black;
  box-shadow: 0 6px 12px 0 rgba($black,0.06);
  margin-bottom: 30px;
  
  &:hover {
    box-shadow: 0 8px 16px 0 rgba($black,0.16);
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.program-list-body {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.program-list-img {
  width: 100%;
  height: 260px;
  min-width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: 768px) {
    width: 260px;
    height: auto;
    min-width: 260px;
  }
}

.program-list-details {
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 30px;
  }

  h4 {
    display: contents;

    a {
      color: $black;

      &:hover {
        color: $primary;
      }
    }
  }
  
  p {
    line-height: 24px;
    color: $grey;
  }

  > span {
		font-size: 0.875rem;

		> b {
			font-weight: 400;
			color: $red;
		}
	}
}

.program-list-sched {
  display: flex;
  flex-wrap: wrap;

  p {
    font-family: $font-primary;
    color: $black;
    font-weight: 400;
    margin: 0;

    &:not(:last-child) {
      &::after {
        content: "|";
        margin: 0 .7rem;
        color: $grey;
      }
    }
  }
}

.program-list-price {
  padding: 0 20px 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 0 30px 30px;
  }

  @media screen and (min-width: 992px) {
    padding: 30px;
  }

  .btn {
    min-width: 200px;

    @media screen and (min-width: 992px) {
      max-width: 200px;
    }
  }
}

.program-list-price-details {
  display: flex;
  align-items: baseline;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }

  .label2,
  h6,
  a {
    white-space: nowrap;
  }
  
  .label2 {
    opacity: .25;
  }

  a,
  a > i {
    font-size: 0.875rem;
    color: $grey;
    line-height: 1;
  }
}