.wizard-progress {

}

.wizard-progress-step {
  display: flex;
  min-height: 52px;

  &:not(:first-child) {
    margin-top: 20px;
  }

  &:not(:last-child) {
    .wizard-progress-node:after {
      content: " ";
      background-color: $ghost;
      width: 2px;
      height: 50px;
      position: absolute;
      top: 28px;
    }
  }

  .wizard-progress-node {
    margin-right: 13px;
    width: 30px;
    height: 30px;
    border: 2px solid $grey;
    background-color: $white;
    border-radius: 100%;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: transparent;
    position: relative;

    
  }

  &.--active {
    .wizard-progress-node {
      border-color: $primary;
      color: transparent;
    }

    .wizard-progress-title {
      opacity: 1;
    }
    
  }

  &.--done {
    .wizard-progress-node {
      border-color: $primary;
      background-color: $primary;
      color: $black;
    }

    .wizard-progress-title {
      opacity: 1;
    }

    .wizard-progress-value {
      display: block;
    }
  }
}



.wizard-progress-title {
  font-size: 0.875rem;
  font-family: $font-primary;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $black;
  line-height: 32px;
  margin-bottom: 0;
  opacity: .25;
}

.wizard-progress-value {
  font-size: 0.875rem;
  font-family: $font-secondary;
  font-weight: 300;
  color: $dark-grey;
  line-height: 1.25rem;
  margin: 0;
  padding-left: 16px;
  display: none;

  a {
    color: $grey;
    opacity: .5;
  }
}