.work-gallery-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;

}

a.gallery-item {
  display: block;
  width: 100%;
  height: 240px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px){
    width: calc(calc(100% - 20px) / 3);
    height: 200px;
  }
}

.work-gallery-item {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
}