{% extends "layout.njk" %}

{% block content %}

{% import 'macros/nav.njk' as nav %}
{{nav.active('contact')}}

<section class="mt150 mb200">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-7">
        <div class="row mb-5">
          <div class="col-12 col-lg-9">
            <h1>Let's Talk</h1>
            <p class="subheader-1">
              Do you have any questions about our programs or just NS Network in general? We would love to hear from you!<br/><br/>Or just send us a line. 
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 form-contact">
            <form id="contact-form" method="POST">
              <div class="form-group">
                <select class="custom-select alt" id="contact-topic" name="topic">
                  <option disabled selected>Select Topic</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control alt" id="contact-name" name="name" placeholder="Enter full name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control alt" id="contact-email" name="email" placeholder="Enter email">
              </div>
              <div class="form-group">
                <textarea class="form-control alt" rows="5" id="contact-message" name="message" placeholder="Message"></textarea>
              </div>
              <div class="row">
                <div class="col text-right">
                  <button type="submit" id="send-contact" class="btn btn-primary">Send</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-9 col-sm-5 col-lg-3 mt-5">
        <h3 class="mb-5">Contacts</h3>
        <p class="subheader-1">join.us@nsnetwork.co</p>
        <p class="subheader-1">+63 905 379 0939</p>
        <div class="social-media mt-5 d-flex justify-content-between">
          <a href="https://www.facebook.com/NewSchoolEducation/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.youtube.com/user/UVNewschool"><i class="fab fa-youtube"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/newschoolnetwork/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

  
{% include "partials/footer.njk" %}

{% endblock %}

{% block pagescript %}
<script>
  $("#send-contact").click(function(e){
    var topic = $("#contact-topic");
    var name = $("#contact-name");
    var email = $("#contact-email");
    var message = $("#contact-message");
    if(validateContactForm(topic,name,email,message)){
      var formData = $("#contact-form").serialize()+'&googleSheetName='+"contact";
      $.post("https://script.google.com/macros/s/AKfycbylTbAHMPJqZnVHv-A05C55db_NsMnwvED4tuld/exec",formData,function(response){
        $(this).toggleClass("d-none");
        $(".form-contact").html("<p class='subheader-1'>Thank you for your feedback!</p>");
      });
    }
    e.preventDefault();
  });
  function validateContactForm(topic,name,email,message){
    var valid = true;
    if(message.val() == ""){
      valid = false;
      message.css("border","1px solid red").get(0).focus();
    } else {
      message.css("border","none");
    }
    if(email.val() == ""){
      valid = false;
      email.css("border","1px solid red").get(0).focus();
    } else {
      email.css("border","none");
    }
    if(name.val() == ""){
      valid = false;
      name.css("border","1px solid red").get(0).focus();
    } else {
      name.css("border","none");
    }
    if(topic.val() == null){
      valid = false;
      topic.css("border","1px solid red").get(0).focus();
    } else {
      topic.css("border","none");
    }

    return valid
  }
</script>
{% endblock %}