{% extends "layout.njk" %}

{% block content %}

{% import 'macros/nav.njk' as nav %}
{% from "macros/enrollment-program-list-item.njk" import enrollmentProgListItem %}
{{nav.active('')}}

<section class="banner-inner enrollment-banner">
  <div class="container banner-inner-content">
    <div class="row">
      <div class="col js-enrollment-banner">
        <h1>Enroll now</h1>
      </div>
    </div>
  </div>   
</section>

<section class="enrollment-container">
  <div class="container">
    <form id="enrollment-form" method="POST">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="wizard-progress">
          <div class="wizard-progress-step js-wizard-progress-step --active" data-step-name="Select Program">
            <div class="wizard-progress-node material-icons">check</div>
            <div>
              <p class="wizard-progress-title">1. Select Program</p>
              <p class="wizard-progress-value"><span id="stepProgressProgram"></span><a class="js-prev-step" href="#"> Change</a></p>
            </div>
          </div>
          <div class="wizard-progress-step js-wizard-progress-step" data-step-name="Select School">
            <div class="wizard-progress-node material-icons">check</div>
            <div>
              <p class="wizard-progress-title">2. Select School</p>
              <p class="wizard-progress-value"><span id="stepProgressSchool"></span><a class="js-prev-step" href="#"> Change</a></p>
            </div>
          </div>
          <div class="wizard-progress-step js-wizard-progress-step" data-step-name="Student Information">
            <div class="wizard-progress-node material-icons">check</div>
            <div>
              <p class="wizard-progress-title">3. Student Info</p>
              <p class="wizard-progress-value"><span id="studentName"></span><a class="js-prev-step" href="#"> Change</a></p>
                <!-- <a>Change</a> -->
              </p>
            </div>
          </div>
          <div class="wizard-progress-step js-wizard-progress-step" data-step-name="Enrollment Summary">
            <div class="wizard-progress-node material-icons">check</div>
            <div>
              <p class="wizard-progress-title">4. Review & Confirm</p>
              <!-- <p class="wizard-progress-value">St. Paul College Foundation, Inc. <a>Change</a></p> -->
            </div>
          </div>
          <div class="wizard-progress-step js-wizard-progress-step" data-step-name="Confirmation">
            <div class="wizard-progress-node material-icons">check</div>
            <div>
              <p class="wizard-progress-title">5. Confirm</p>
              <!-- <p class="wizard-progress-value">St. Paul College Foundation, Inc. <a>Change</a></p> -->
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-lg-8">
        <div class="enrollment-form-container js-enrollment-form-container">
          

          <!-- START SELECT PROGRAM -->
          <div class="js-enrollment-form" data-section-name="Select Program">
            <div class="enrollment-form-header">
              <h4>1. Select Program</h4>
              <p>Choose amongst our programs that you want to take.</p>
            </div>
            <div class="enrollment-group">
              {{ enrollmentProgListItem("Design","Graphic Design"," 1-Month Program"," Monday-Friday","15,000","15,000","option1") }}
              {{ enrollmentProgListItem("Design","Graphic Design"," 3-Month Program"," Monday-Friday","15,000","45,000","option2") }}
              {{ enrollmentProgListItem("Design","Visual Communication Design"," 3-Month Program"," Monday-Friday","15,000","45,000","option3") }}
              {{ enrollmentProgListItem("Design","Coding Bootcamp"," 1-Month Program"," Monday-Friday","15,000","15,000","option4") }}
              {{ enrollmentProgListItem("Design","3D Modelling & Rendering"," 3-Month Program"," Monday-Friday","15,000","45,000","option5") }}
              {{ enrollmentProgListItem("Design","3D Modelling"," 2-Week Program"," Monday-Friday","4,000","8,000","option6") }}
              {{ enrollmentProgListItem("Design","Digital/Social Media Essentials"," 1-Week Program"," Monday-Friday","3,500","3,500","option7") }}
              {{ enrollmentProgListItem("Design","VFX Visual Effects"," 4-Session-Workshop Program"," Monday-Friday","3,750","15,000","option8") }}
              {{ enrollmentProgListItem("Design","Video Editing Crash Course"," 4-Session-Workshop"," Monday-Friday","3,750","15,000","option9") }}
              {{ enrollmentProgListItem("Design","3D Modelling"," 4-Session-Workshop"," Monday-Friday","4,500","18,000","option10") }}
            </div>
          </div>
          <!-- END SELECT PROGRAM -->

          <!-- START SELECT SCHOOL -->
          <div class="js-enrollment-form d-none" data-section-name="Select School">
            <div class="enrollment-form-header">
              <h4>2. Select School</h4>
              <p>Select the school that you want to take that course at.</p>
            </div>
            <div class="enrollment-group">
              <div class="enrollment-group-item">
                <div class="enrollment-school-logo" style="background-image: url('/img/schools/spcfi.jpg')"></div>
                <div class="enrollment-group-details">
                  <h5 class="school-title">St. Paul College Foundation, Inc.</h5>
                  <p class="--address school-address">
                    <i class="icon-location-pin icons"></i> 8634 Fadel Walks Suite 896</p>
                  <p class="--programs"><i class="icon-book-open icons"></i> 6 Programs</p>
                </div>
                <div class="btn-group-toggle ml-lg-auto mt-3 mt-lg-0 ">
                  <label class="btn btn-outline-primary">
                    <input type="radio" name="schools" value="St. Paul College Foundation, Inc." id="spcfi" autocomplete="off" class="js-next-step"> Select
                  </label>
                </div>
              </div>
              <div class="enrollment-group-item">
                <div class="enrollment-school-logo" style="background-image: url('/img/schools/ihub.jpg')"></div>
                <div class="enrollment-group-details">
                  <h5 class="school-title">iHub</h5>
                  <p class="--address school-address">
                    <i class="icon-location-pin icons"></i> Gorordo Avenue, Cebu City 6000, Philippines</p>
                  <p class="--programs"><i class="icon-book-open icons"></i> 6 Programs</p>
                </div>
                <div class="btn-group-toggle ml-lg-auto mt-3 mt-lg-0">
                  <label class="btn btn-outline-primary ">
                    <input type="radio" name="schools" value="iHub" id="ihub" autocomplete="off" class="js-next-step"> Select
                  </label>
                </div>
              </div>
              <div class="enrollment-group-item">
                <div class="enrollment-school-logo" style="background-image: url('/img/schools/uv.png')"></div>
                <div class="enrollment-group-details">
                  <h5 class="school-title">University of Visayas</h5>
                  <p class="--address school-address">
                    <i class="icon-location-pin icons"></i> 8634 Fadel Walks Suite 896</p>
                  <p class="--programs"><i class="icon-book-open icons"></i> 6 Programs</p>
                </div>
                <div class="btn-group-toggle ml-lg-auto mt-3 mt-lg-0">
                  <label class="btn btn-outline-primary ">
                    <input type="radio" name="schools" value="University Of Visayas" id="uv" autocomplete="off" class="js-next-step"> Select
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- END SELECT SCHOOL -->

          <!-- START STUDENT INFORMATION -->
          <div class="js-enrollment-form d-none" data-section-name="Student Information">
            <div class="enrollment-form-header">
              <h4>3. Student Information</h4>
              <p>We need your details for future recommendations and referrals.</p>
            </div>
            <div class="enrollment-group">
              <div class="enrollment-group-item border-0">
                <div class="container">
                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                    </div>
                    <div class="form-group px-0 pl-lg-3 col-lg-6">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="dob">Date of Birth</label>
                      <input type="date" class="form-control" name="dob" id="dob" placeholder="Select Date of Birth">
                    </div>
                    <div class="form-group px-0 pl-lg-3 col-lg-6">
                      <label for="citizenship">Citizenship</label>
                      <select class="custom-select" id="citizenship" name="citizenship">
                        <option>Filipino</option>
                        <option>Filipino</option>
                        <option>Filipino</option>
                        <option>Filipino</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-12">
                      <label>Gender</label>
                      <div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input type="radio" id="customRadioInline1" value="male" name="gender" class="custom-control-input">
                          <label class="custom-control-label --label2" for="customRadioInline1">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline2" value="female" name="gender" class="custom-control-input">
                        <label class="custom-control-label --label2" for="customRadioInline2">Female</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group px-0 pl-lg-3 col-lg-6">
                      <label for="number">Contact Number</label>
                      <input type="number" class="form-control" id="number" name="number" placeholder="Contact Number">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group px-0 col-lg-12">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="address" name="address" placeholder="Address">
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="px-0 col-lg-12">
                      <h5 class="mb-0">Emergency Contact</h5>
                      <p>in case of emergency, we can contact:</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="firstname">First Name</label>
                      <input type="text" class="form-control" id="EmergencyFirstname" name="emergencyContactFirstname" placeholder="First Name">
                    </div>
                    <div class="form-group px-0 pl-lg-3 col-lg-6">
                      <label for="lastname">Last Name</label>
                      <input type="text" class="form-control" id="EmergencyLastname" name="emergencyContactLastname" placeholder="Last Name">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="EmergencyEmail" name="emergencyContactEmail" placeholder="Email">
                    </div>
                    <div class="form-group px-0 pl-lg-3 col-lg-6">
                      <label for="number">Contact Number</label>
                      <input type="number" class="form-control" id="EmergencyNumber" name="emergencyContactNumber" placeholder="Contact Number">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group px-0 pr-lg-3 col-lg-6">
                      <label for="relationship">Relationship</label>
                      <input type="text" class="form-control" id="EmergencyRelationship" name="emergencyContactRelationship" placeholder="Relationship">
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group px-0 col-lg-12">
                      <label for="address">Address</label>
                      <input type="text" class="form-control" id="EmergencyAddress" name="emergencyContactAddress" placeholder="Address">
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="px-0 col-lg-12">
                      <h5 class="mb-0">Survey</h5>
                      <p>How did you hear about NS Network?</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group px-0 col-lg-12">
                      <select class="custom-select" name="survey">
                        <option>Reffered by an NS Student</option>
                        <option>Reffered by an NS Student</option>
                      </select>
                    </div>
                  </div>

                  <div class="row mt-4">
                    <div class="px-0 col-12 text-right">
                      <button type="button" class="btn btn-primary js-next-step js-for-review" disabled="disabled">Next</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END STUDENT INFORMATION -->

          <!-- START ENROLLMENT SUMMARY -->
          <div class="js-enrollment-form d-none" data-section-name="Enrollment Summary">
            <div class="enrollment-form-header">
              <h4>Enrollment Summary</h4>
              <br/>
            </div>
            <div class="enrollment-group bg-black">
              <div class="container">
                  <div class="enrollment-group-item">
                      <div class="enrollment-group-details">
                          <span class="super-title">Program</span>
                          <h5 class="c-white mb-1" id="summary-program-title"></h5>
                          <p><i class="icon-calendar icons"></i> <span class="summary-progDuration"></span></p>
                          <p><i class="icon-clock icons"></i> <span class="summary-progSched"></span> | 10:30am - 6:00pm</p>
                        </div>
                    </div>
                <div class="enrollment-group-item border-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <label class="label2 c-primary mb-0">School</label>
                      <p class="p2 c-white" id="summary-school-title">St. Paul College Foundation, Inc.</p>
                    </div>
                    <div class="col-lg-6">
                      <label class="label2 c-primary mb-0">Monthly Fee</label>
                      <p class="p2 c-white">Php 5,000.00</p>
                    </div>
                    <div class="col-lg-6">
                      <label class="label2 c-primary mb-0">Program Total Fee</label>
                      <p class="p2 c-white">Php 15,000.00</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="enrollment-group bg-cream">
              <div class="container">
                  <div class="enrollment-group-item">
                      <div class="enrollment-group-details">
                        <span class="super-title">Enrollee</span>
                        <h5 class="mb-1" id="summary-enrollee-name"></h5>
                        <p id="summary-enrollee-email"><i class="icon-envelope-letter icons"></i></p>
                        <p id="summary-enrollee-number"><i class="icon-phone icons"></i></p>
                        <p id="summary-enrollee-address"><i class="icon-location-pin icons"></i></p>
                      </div>
                    </div>
                <div class="enrollment-group-item border-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="row">
                        <div class="col-6">
                          <label class="label2 c-primary mb-0">Birthday</label>
                          <p class="p2" id="summary-enrollee-dob">18 Oct 1994</p>
                        </div>
                        <div class="col-6">
                          <label class="label2 c-primary mb-0">Age</label>
                          <p class="p2" id="summary-enrollee-age"></p>
                        </div>
                        <div class="col-6">
                          <label class="label2 c-primary mb-0">Gender</label>
                          <p class="p2" id="summary-enrollee-gender"></p>
                        </div>
                        <div class="col-6">
                          <label class="label2 c-primary mb-0">Citizenship</label>
                          <p class="p2" id="summary-enrollee-citizenship"></p>
                        </div>
                      </div>
                      
                      
                    </div>
                    <div class="col-lg-6">
                      <label class="label2 c-primary mb-0">Emergency Contact</label>
                      <p class="p3 mb-0" id="summary-emergency-contact-name"></p>
                      <div class="enrollment-group-details">
                        <p id="summary-emergency-contact-email"><i class="icon-envelope-letter icons"></i></p>
                        <p id="summary-emergency-contact-number"><i class="icon-phone icons"></i></p>
                        <p id="summary-emergency-contact-address"><i class="icon-location-pin icons"></i></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="enrollment-group">
              <div class="container">
                <div class="enrollment-group-item enrollment-terms pt60 pb60 border-0">
                  <div class="row">
                    <div class="col-lg-12">
                      <h6 class="mb-4">Review & Accept</h6>
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" value="agreed" name="student-code-of-conduct">
                        <label class="custom-control-label --label2" for="customCheck1">I have read, and agree to NS Network’s <a href="#" target="_BLANK">Student Code of Conduct.</a></label>
                      </div>
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck2" value="agreed" name="terms-and-conditions">
                        <label class="custom-control-label --label2" for="customCheck2">I have read, and agree to NS Network’s <a href="#" target="_BLANK">Terms & Conditions.</a></label>
                      </div>
                      <div class="custom-control custom-checkbox mb-3">
                        <input type="checkbox" class="custom-control-input" id="customCheck3" value="agreed" name="privacy-policy">
                        <label class="custom-control-label --label2" for="customCheck3">I have read, and agree to NS Network’s <a href="#" target="_BLANK">Privacy Policy.</a></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="px-0 col-12 text-right">
                    <button type="submit" class="btn btn-primary btn-xl btn-block js-confirm" disabled="disabled">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END ENROLLMENT SUMMARY -->

        </div>

        <div class="enrollment-confirmation d-none js-confirmation" data-section-name="Confirmation">
            <p>Congratulations <span id="confirmationName"></span>! You’ve successfully enrolled for a <span id="confirmationProgram"></span>, <span class="confirmationDuration"></span>. Classes start on February 29, 2019 in <span id="confirmationSchool"></span> located at <span id="confirmationSchoolAddress"></span>.</p>

            <p>We’ve sent you an email of a copy of your Enrollment form and make sure to visit and pay your downpayment before classes start. </p>
            
            <p>See you in Class!</p>

            <div class="row mt100">
              <div class="col-12 text-right">
                <a href="/" class="btn btn-primary">Return to Home</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>

  
{% include "partials/footer.njk" %}

{% endblock %}

{% block pagescript %}
<script>
var sendInfo = {};

  $(".js-prev-step").click(function(){
    var $this = $(this);
    var currentProgressStep = $(".--active");
    var prevProgressStep = currentProgressStep.prev();
    var jumpProgressStep = $this.closest(".js-wizard-progress-step");
    var nextJumpProgressStep = jumpProgressStep.next();
    var jumpProgressStepTo =  $("[data-section-name='"+ jumpProgressStep.data('step-name') +"'] ");

    prevProgressStep.removeClass("--done");
    nextJumpProgressStep.removeClass("--done");
    currentProgressStep.removeClass("--active");
    jumpProgressStep.removeClass("--done").addClass("--active");
    
    $(".js-enrollment-form").removeClass("d-none").addClass("d-none");
    jumpProgressStepTo.toggleClass("d-none");

  });

  $(".js-next-step").click(function(){
    var $this = $(this);
    var currentStep = $this.closest(".js-enrollment-form");
    var nextStep = currentStep.next();   

    currentStep.toggleClass("d-none");
    nextStep.toggleClass("d-none");

    var currentProgressStep = $("[data-step-name='"+ currentStep.data('section-name') +"'] ");
    var nextProgressStep = $("[data-step-name='"+ nextStep.data('section-name') +"'] ");

    currentProgressStep.removeClass("--active").addClass("--done");
    nextProgressStep.addClass("--active");

    //Get School,Program, and Name for Progress Step dynamic data
    var school = $('input[type=radio][name=schools]:checked').attr('id');
    var program = $('input[type=radio][name=programs]:checked').attr('id');
    $("#studentName").text($("#lastname").val()+", "+$("#firstname").val()).css('textTransform', 'capitalize');
    $("#stepProgressSchool").text($("#"+school).val()).css('textTransform', 'capitalize');
    $("#stepProgressProgram").text($("#"+program).val()).css('textTransform', 'capitalize');
  });
  //Handling input required
  $('form').keyup(function() {
    var empty = false;
    if($('#firstname').val() == '' || $('#lastname').val() == '' || $('#dob').val() == '' || $('#citizenship').val() == '' || $('#email').val() == '' || $('#address').val() == '' || $('#number').val() == ''){
      empty = true;
    } 
    if (empty) {
      $('.js-for-review').attr('disabled', 'disabled');
    } else {
      $('.js-for-review').removeAttr('disabled');
    }
  });
  //Get all data for Review, dynamic data base on inputs
  $(".js-for-review").click(function(e){
    var formData = $("#enrollment-form").serialize().split("&");
    $.each(formData, function(index, value){
      value = value.split("=");
      value[1] = value[1].split("%20").join(" ");
      value[1] = value[1].split("%40").join("@");
      value[1] = value[1].split("%2C").join(",");
      value[1] = value[1].split("%2F").join("/");
      value[1] = value[1].split("/6").join("&");
      sendInfo[value[0]] = value[1];
    })
    
    var dob = new Date(sendInfo["dob"]);
    var today = new Date();
    var age = Math.floor((today-dob) / (365.25 * 24 * 60 * 60 * 1000));
    var dobFormatted = formatDOB(sendInfo["dob"]);

    $("#summary-program-title").text(sendInfo["programs"]);
    $("#summary-school-title").text(sendInfo["schools"]);
    //enrollee
    $("#summary-enrollee-name").text(sendInfo["lastname"]+", "+sendInfo["firstname"]).css('textTransform', 'capitalize');
    $("#summary-enrollee-email").text(sendInfo["email"]);
    $("#summary-enrollee-number").text(sendInfo["number"].replace("0","+63"));
    $("#summary-enrollee-address").text(sendInfo["address"]).css('textTransform', 'capitalize');
    $("#summary-enrollee-dob").text(dobFormatted);
    $("#summary-enrollee-age").text(age);
    $("#summary-enrollee-gender").text(sendInfo["gender"]).css('textTransform', 'capitalize');
    $("#summary-enrollee-citizenship").text(sendInfo["citizenship"]);
    //emergency contact
    if($('#EmergencyFirstname').val() == '' && $('#EmergencyLastname').val() == ''){
      $("#summary-emergency-contact-name").text("");
    } else {
      $("#summary-emergency-contact-name").text(sendInfo["emergencyContactLastname"]+", "+sendInfo["emergencyContactFirstname"]).css('textTransform', 'capitalize');
    }
    $("#summary-emergency-contact-email").text(sendInfo["emergencyContactEmail"]);
    $("#summary-emergency-contact-number").text(sendInfo["emergencyContactNumber"].replace("0","+63"));
    $("#summary-emergency-contact-address").text(sendInfo["emergencyContactAddress"]).css('textTransform', 'capitalize');

    var programSelected = $('input[type=radio][name=programs]:checked').attr('id');
    programDuration = $("#"+programSelected).closest(".enrollment-group-item").find(".program-duration").text();
    programSchedule = $("#"+programSelected).closest(".enrollment-group-item").find(".program-schedule").text();
    $(".summary-progDuration").text(programDuration);
    $(".summary-progSched").text(programSchedule);
  });
  //Enrollment Terms must be checked before confirming
  $("#customCheck3, #customCheck2, #customCheck1").click(function(){
    if($("#customCheck3").prop('checked')==true && $("#customCheck2").prop('checked')==true && $("#customCheck1").prop('checked')==true ){
      $(".js-confirm").removeAttr('disabled');
    } else {
      $(".js-confirm").attr('disabled','disabled');
    }
  });

  $(".js-confirm").click(function(e){
    //Get necessary fields for sending email to NS Network and Enrollee
    var programSelected = $('input[type=radio][name=programs]:checked').attr('id');
    var schoolSelected = $('input[type=radio][name=schools]:checked').attr('id');
    age = $("#summary-enrollee-age").text();
    programDuration = $("#"+programSelected).closest(".enrollment-group-item").find(".program-duration").text();
    programSchedule = $("#"+programSelected).closest(".enrollment-group-item").find(".program-schedule").text();
    programMonthlyFee = $("#"+programSelected).closest(".enrollment-group-item").find(".program-monthly-fee").text();
    programTotalFee = $("#"+programSelected).closest(".enrollment-group-item").find(".program-total-fee").text();
    $(".confirmationDuration").text(programDuration);
    var data = $("#enrollment-form").serialize()+'&googleSheetName='+"enrollee"+'&programDuration='+programDuration+'&programSchedule='+programSchedule+'&programMonthlyFee='+programMonthlyFee+'&programTotalFee='+programTotalFee+'&age='+age;
    //Send Email
    $.post("https://script.google.com/macros/s/AKfycbylTbAHMPJqZnVHv-A05C55db_NsMnwvED4tuld/exec",data,function(response){
      //console.log(response); response goes here...
    });
    //Change the confirm details base on inputs
    schoolAddress = $("#"+schoolSelected).closest(".enrollment-group-item").find(".school-address").text();
    $("#confirmationName").text(sendInfo["firstname"]).css('textTransform', 'capitalize');
    $("#confirmationProgram").text(sendInfo["programs"]);
    $("#confirmationSchool").text(sendInfo["schools"]);
    $("#confirmationSchoolAddress").text(schoolAddress);

    var $this = $(this);
    var currentStep = $this.closest(".js-enrollment-form");
    var confirmation = $(".js-confirmation");

    $(".js-enrollment-form-container").toggleClass("d-none");
    currentStep.toggleClass("d-none");
    confirmation.toggleClass("d-none");

    var currentProgressStep = $("[data-step-name='"+ currentStep.data('section-name') +"'] ");
    var nextProgressStep = $("[data-step-name='"+ confirmation.data('section-name') +"'] ");

    currentProgressStep.removeClass("--active").addClass("--done");
    nextProgressStep.addClass("--done");

    $(".js-enrollment-banner h1").remove();
    $(".js-enrollment-banner").append("<h2>Welcome to the Revolution</h2>");
    $(".js-prev-step").hide();
    e.preventDefault();
  });

  function formatDOB(date){
    date = new Date(date);
    var day = date.getDate();
    var month = date.getMonth();
    var year = date.getFullYear();
    var monthName = "";
    switch(month){
      case 0: monthName = "Jan";
      case 1: monthName = "Feb";
      case 2: monthName = "Mar";
      case 3: monthName = "Apr";
      case 4: monthName = "May";
      case 5: monthName = "Jun";
      case 6: monthName = "Jul";
      case 7: monthName = "Aug";
      case 8: monthName = "Sep";
      case 9: monthName = "Oct";
      case 10: monthName = "Nov";
      case 11: monthName = "Dec";
    }
    return day + " " + monthName + " " + year;
  }

</script>
 

{% endblock %} 