{% extends "layout.njk" %}

{% block content %}

{% import 'macros/nav.njk' as nav %}
{{nav.active('')}}

<section class="home-banner">
    <div class="h-100 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <span class="super-title">NS NETWORK</span>
                    <h1 class="hero-text mb40">Education Revolution</h1>
                    <div class="cta-container">
                        <a href="enrollment.html" class="btn btn-primary">Enroll Now</a>
                        <a href="/programs.html" class="btn btn-primary alt">View Programs</a>
                    </div>
                    
                    <span class="sub-play">
                        <a class="video" href="https://www.youtube.com/watch?v=3qyhgV0Zew0">
                            <i class="fas fa-play"></i> Watch video to learn more
                        </a>
                    </span>

                </div>
                <div class="col-lg-6 d-flex justify-content-center align-items-center">
                    <a class="d-none d-lg-block video play-icon" href="https://www.youtube.com/watch?v=3qyhgV0Zew0">
                        <img src="/img/play-btn.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>    
</section>

<section class="mb200 mt200 schools-feature">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 tac">
                <span class="super-title">1st in the Philippines</span>
                <h2>Network of Schools</h2>
                <div class="row justify-content-center">
                    <p class="col-12 col-md-8 subheader-1">We help revolutionise education in schools in the Philippines. And with that we value the partnerships we’ve created with the different educational institutions we work with. We acknowledge their feedback as valuable insights to the continuous growth and innovation of the platform.</p>
                </div>
                
            </div>
            <div class="col-12 mt40 tac hide">
                
                <img src="/img/schools/logo-spum.png" alt="">
                <img src="/img/logo-ihub.png" alt="">
                
            </div>
        </div>
    </div>
</section>

<section class="feature">
    <div class="container">
        <div class="row mb150">
            <div class="col-lg-5 d-flex d-flex align-items-center">
                <div class="feature-details">
                    <span class="super-title">Wide Variety</span>
                    <h2>Essential 21st century skills</h2>
                    <p class="subheader-1">We at NS Network believes that we need to bridge the economic and learning divide, public schools need to leverage and embrace technology.<br/><br/>This is a grassroots validation that needs to be adopted nationwide. We can empower a generation of creative problem solvers and leaders if we do this now.</p>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <img src="/img/feature-img-1.png" alt="" class="img-fluid">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <img src="/img/feature-img-2.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 d-flex align-items-center order-1 order-lg-2">
                <div class="feature-details">
                    <span class="super-title">Adobe Certified</span>
                    <h2>Creative Learning Environment</h1>
                    <p class="subheader-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section class="mt100 mb200">
    <div class="container">
        <div class="row justify-content-center justify-content-md-start mb80">
            <div class="col-xl-12">
                <span class="super-title">Featured</span>
                <h2>Our Programs</h2>
                <p class="subheader-1">With the influx of social media and the new creative ways of storytelling, 
                the way we communicate with each other has changed drastically for the past 20 years. And as communication changes, 
                so does education. No matter what professional field you want to be in the future (or if you are already are a professional 
                and still thinks you can do more), the need to use digital tools is a 21st century skill that can effectively communicate with
                audiences that is both rewarding and satisfying.<br/><br/>With our curated programs, they allow everyone to update their skills,
                learn new ideas, and take their business-and themselves to another level.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Design <b>·</b> <span>Mon - Fri</span></div>
                        <h4><a href="/specific-program.html">Visual<br/>Communication</a></h4>
                        <span>3-Month Program <b>Advanced</b></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Design <b>·</b> <span>Mon - Fri</span></div>
                        <h4><a href="/specific-program.html">Graphic<br/>Design</a></h4>
                        <span>3-Month Program <b>Advanced</b></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Design <b>·</b> <span>Mon - Fri</span></div>
                        <h4><a href="/specific-program.html">Graphic<br/>Design</a></h4>
                        <span>1-Week Program</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Design <b>·</b> <span>Mon - Fri</span></div>
                        <h4><a href="/specific-program.html">Visual<br/>Effects</a></h4>
                        <span>Intensive Program</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Cinema <b>·</b> <span>Sat</span></div>
                        <h4><a href="/specific-program.html">Studio<br/>Photography</a></h4>
                        <span>3-Month Program <b>Advanced</b></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="program-card">
                    <div class="program-card-img"></div>
                    <div class="program-card-details">
                        <div class="super-title">Development <b>·</b> <span>Sat</span></div>
                        <h4><a href="/specific-program.html">Coding<br/>Bootcamp</a></h4>
                        <span>3-Month Program <b>Advanced</b></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore </p>
                    </div>
                </div>
            </div>
            
            <div class="row tac d-flex justify-content-center align-items-center w100 ml0 mr0 mt80">
                <div class="col-12">
                    <a href="/programs.html" class="btn btn-primary alt">View All Programs</a>
                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <span class="super-title">Testimonials</span>
                <h2>Our Success Stories</h2>
                <div class="row justify-content-center">
                    <p class="col-12 col-md-8 subheader-1">Education is for everyone. You just need to know on how to use it.<br/><br/>Here are just a few of our students who knew how to utilize what they have learned along the way.</p>
                </div>
                
            </div>
        </div>
        <div class="row success-story-slides justify-content-center mt80">
            <div class="col-lg-8 success-stories">
                <div>
                    <a class="video mfp-iframe" href="media/iHub-Student-Testimonial-Xchyler.mp4">
                        <img src="/img/success-story-placeholder.jpg" alt="" class="w100">
                    </a>
                </div>
                <div>
                    <a class="video mfp-iframe" href="media/iHub-Student-Testimonial-Natalie-v2.mp4">
                        <img src="/img/success-story-placeholder.jpg" alt="" class="w100">
                    </a>
                </div>
                <div>
                    <a class="video mfp-iframe" href="media/iHub-Student-Testimonial-Chiong.mp4">
                        <img src="/img/success-story-placeholder.jpg" alt="" class="w100">
                    </a>
                </div>
            </div>
        </div>
        <div class="row success-story-thumbs justify-content-center mt40">
            <div class="col-lg-6 success-story-thumbs-nav">
                <div>
                    <img src="/img/success-story-nav-ph.jpg" alt="">
                </div>
                <div>
                    <img src="/img/success-story-nav-ph.jpg" alt="">
                </div>
                <div>
                    <img src="/img/success-story-nav-ph.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mb100 ns-cta">
    <div class="h-100 container">
        <div class="h-100 row flex-column justify-content-center align-items-center">
            <div class="w-100 d-flex justify-content-center">
                <div class="col-12 col-lg-8 col-xl-7 d-flex flex-column">
                    <h2 class="h1 text-center">Be part of the Revolution</h2>
                    <a href="enrollment.html" class="btn btn-primary align-self-center mt40">Enroll Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
  
{% include "partials/footer.njk" %}

{% endblock %}

{% block pagescript %} 
{% endblock %} 