{% extends "layout.njk" %}

{% block content %}



{% from "macros/program-list-item.njk" import programListItem %}

<section class="banner-inner banner-inner-md flex-column bg-ns-vector">
  {% import 'macros/nav.njk' as nav %}
  {{nav.active('programs')}}

  <div class="container banner-inner-content mt-auto pt-5">
    <div class="row">
      <div class="col js-enrollment-banner">
        <h1 class="mb-0">Our Programs</h1>
      </div>
    </div>
  </div>

  <div class="container mt-auto">
    <div class="row">
      <div class="col">
          <ul class="nav ns-nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="design-tab" data-toggle="tab" href="#design" role="tab" aria-controls="design" aria-selected="false">Design</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="media-tab" data-toggle="tab" href="#media-arts" role="tab" aria-controls="all" aria-selected="false">Media Arts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="dev-tab" data-toggle="tab" href="#dev" role="tab" aria-controls="all" aria-selected="false">Development</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="others-tab" data-toggle="tab" href="#others" role="tab" aria-controls="all" aria-selected="false">Others</a>
              </li>
            </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-white py-5">
  <div class="container py-md-5">
    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
            {{ programListItem(
              "/img/card-graphic-design-img.jpg", 
              "Design", 
              "Graphic Design", 
              "Basic to Intermediate", 
              "1-Month Program", 
              "Monday-Friday", 
              "In this intermediate course, you will learn the elements & principles of design with the
              integration of colour theories, typography & layout. With Adobe CC (Illustrator, Photoshop)", 
              "15,000") }}
  
            {{ programListItem(
              "/img/card-graphic-design2-img.jpg", 
              "Design", 
              "Graphic Design", 
              "Advanced", 
              "3-Month Program", 
              "Monday-Friday", 
              "Learn from the basic fundamentals of design, principles, elements and techniques. Moving up
              to Intermediate with Logo design & Branding to Advanced Graphic Design Advertising using
              the latest technology and professional design tools. With Adobe CC (Illustrator, Photoshop)", 
              "45,000") }}
  
            {{ programListItem(
              "/img/card-visual-comm-img.jpg", 
              "Design", 
              "Visual Communication Design", 
              "", 
              "3-Month Program", 
              "Monday-Friday", 
              "Our Visual Communication Design is an advanced learning program which focuses on a wider
              approach to design that touches on human visual perception and communication. Specifically
              designed to develop your path towards entrepreneurship, creative direction, digital marketing,
              art direction or brand management. With Adobe CC (Illustrator, Photoshop, Indesign,
              Dimension, Adobe Spark)", 
              "45,000") }}

              {{ programListItem(
                "/img/card-code-img.jpg", 
                "Development", 
                "Coding Bootcamp", 
                "", 
                "1-Month Program", 
                "Monday-Friday", 
                "Be a web developer in 1 month with this Coding Bootcamp. Learn Git, Python, Google Cloud
                as your building blocks on your journey to becoming a web developer. This course will tackle
                the basics that every aspiring software developer will need to be able to compete and work
                with other fellow developers in the industry.", 
                "15,000") }}

                {{ programListItem(
                  "/img/card-3d-img.jpg", 
                  "Design", 
                  "3D Modelling & Rendering", 
                  "", 
                  "3-Month Program", 
                  "Monday-Friday", 
                  "Have you ever wondered how to create 3D models such as characters, props and
                  environments in movies and video games? In our 3D modelling & Rendering Program, you’ll
                  learn workflows from reference gathering to final rendering from professional 3D artists and
                  create your very own 3D models for movies and video games. With Autodesk Maya.", 
                  "45,000") }}

                  {{ programListItem(
                    "/img/card-3d2-img.jpg", 
                    "Design", 
                    "3D Modelling", 
                    "", 
                    "2-Week Program", 
                    "Monday-Friday", 
                    "In our 3D modelling Program, you’ll to create your very own 3D models. With Autodesk Maya.", 
                    "8,000") }}

                    {{ programListItem(
                      "/img/card-digital-socmed-img.jpg", 
                      "Media Arts", 
                      "Digital / Social Media Essentials", 
                      "", 
                      "1-Week Program", 
                      "Monday-Friday", 
                      "This course will teach you to create professional quality graphics for digital and social media
                      that makes your content stand out. With Adobe Spark CC.", 
                      "3,500") }}

                    {{ programListItem(
                      "/img/card-vfx-img.jpg", 
                      "Media Arts", 
                      "VFX Visual Effects", 
                      "", 
                      "4 sessions Extensive Program", 
                      "Monday-Friday", 
                      "In this Visual Effects Course you will learn how to create powerful cinematic effects like the
                      ones in Hollywood blockbuster movies. With Nuke.", 
                      "15,000") }}

                      {{ programListItem(
                        "/img/card-vid-editing-img.jpg", 
                        "Media Arts", 
                        "Video Editing Crash Course", 
                        "", 
                        "4-Session Workshop", 
                        "5 hours every Saturday", 
                        "Introducing students to the world of the professional editor through hands-on sessions with
                        Adobe Premiere and increase their proficiency and efficiency in editing. Students will work
                        with exercise material as well as create/shoot and edit their own scenes, in order to
                        thoroughly comprehend the role of the editor in post-production.", 
                        "15,000") }}

                        {{ programListItem(
                          "/img/card-3d3-img.jpg", 
                          "Media Arts", 
                          "3D Animation", 
                          "", 
                          "4-Session Workshop", 
                          "5 hours every Saturday", 
                          "Our Basic 3d Modelling/Animation/Compositing workshop that will give you a comprehensive
                          guide to getting started with the 3D application. The basics of 3D modeling will be taught to
                          you through the hands-on use of Autodesk Maya 2014. You will also learn the essential steps
                          in working with 3D software from modeling and texturing through to Compositing that can give
                          you a good understanding of how 3D animation works and work through its challenges..", 
                          "18,000") }}
          </div>
          <div class="tab-pane fade" id="design" role="tabpanel" aria-labelledby="design-tab">
            {{ programListItem(
              "/img/card-graphic-design-img.jpg", 
              "Design", 
              "Graphic Design", 
              "Basic to Intermediate", 
              "1-Month Program", 
              "Monday-Friday", 
              "In this intermediate course, you will learn the elements & principles of design with the
              integration of colour theories, typography & layout. With Adobe CC (Illustrator, Photoshop)", 
              "15,000") }}
            
            {{ programListItem(
              "/img/card-graphic-design2-img.jpg", 
              "Design", 
              "Graphic Design", 
              "Advanced", 
              "3-Month Program", 
              "Monday-Friday", 
              "Learn from the basic fundamentals of design, principles, elements and techniques. Moving up
              to Intermediate with Logo design & Branding to Advanced Graphic Design Advertising using
              the latest technology and professional design tools. With Adobe CC (Illustrator, Photoshop)", 
              "45,000") }}
            
            {{ programListItem(
              "/img/card-visual-comm-img.jpg", 
              "Design", 
              "Visual Communication Design", 
              "", 
              "3-Month Program", 
              "Monday-Friday", 
              "Our Visual Communication Design is an advanced learning program which focuses on a wider
              approach to design that touches on human visual perception and communication. Specifically
              designed to develop your path towards entrepreneurship, creative direction, digital marketing,
              art direction or brand management. With Adobe CC (Illustrator, Photoshop, Indesign,
              Dimension, Adobe Spark)", 
              "45,000") }}
            
            {{ programListItem(
              "/img/card-3d-img.jpg", 
              "Design", 
              "3D Modelling & Rendering", 
              "", 
              "3-Month Program", 
              "Monday-Friday", 
              "Have you ever wondered how to create 3D models such as characters, props and
              environments in movies and video games? In our 3D modelling & Rendering Program, you’ll
              learn workflows from reference gathering to final rendering from professional 3D artists and
              create your very own 3D models for movies and video games. With Autodesk Maya.", 
              "45,000") }}
            
            {{ programListItem(
              "/img/card-3d2-img.jpg", 
              "Design", 
              "3D Modelling", 
              "", 
              "2-Week Program", 
              "Monday-Friday", 
              "In our 3D modelling Program, you’ll to create your very own 3D models. With Autodesk Maya.", 
              "8,000") }}
          </div>
          <div class="tab-pane fade" id="media-arts" role="tabpanel" aria-labelledby="media-tab">
            {{ programListItem(
              "/img/card-digital-socmed-img.jpg", 
              "Media Arts", 
              "Digital / Social Media Essentials", 
              "", 
              "1-Week Program", 
              "Monday-Friday", 
              "This course will teach you to create professional quality graphics for digital and social media
              that makes your content stand out. With Adobe Spark CC.", 
              "3,500") }}

            {{ programListItem(
              "/img/card-vfx-img.jpg", 
              "Media Arts", 
              "VFX Visual Effects", 
              "", 
              "4 sessions Extensive Program", 
              "Monday-Friday", 
              "In this Visual Effects Course you will learn how to create powerful cinematic effects like the
              ones in Hollywood blockbuster movies. With Nuke.", 
              "15,000") }}
            
            {{ programListItem(
              "/img/card-vid-editing-img.jpg", 
              "Media Arts", 
              "Video Editing Crash Course", 
              "", 
              "4-Session Workshop", 
              "5 hours every Saturday", 
              "Introducing students to the world of the professional editor through hands-on sessions with
              Adobe Premiere and increase their proficiency and efficiency in editing. Students will work
              with exercise material as well as create/shoot and edit their own scenes, in order to
              thoroughly comprehend the role of the editor in post-production.", 
              "15,000") }}
            
            {{ programListItem(
              "/img/card-3d3-img.jpg", 
              "Media Arts", 
              "3D Animation", 
              "", 
              "4-Session Workshop", 
              "5 hours every Saturday", 
              "Our Basic 3d Modelling/Animation/Compositing workshop that will give you a comprehensive
              guide to getting started with the 3D application. The basics of 3D modeling will be taught to
              you through the hands-on use of Autodesk Maya 2014. You will also learn the essential steps
              in working with 3D software from modeling and texturing through to Compositing that can give
              you a good understanding of how 3D animation works and work through its challenges..", 
              "18,000") }}
          </div>
          <div class="tab-pane fade" id="dev" role="tabpanel" aria-labelledby="dev-tab">
            {{ programListItem(
              "/img/card-code-img.jpg", 
              "Development", 
              "Coding Bootcamp", 
              "", 
              "1-Month Program", 
              "Monday-Friday", 
              "Be a web developer in 1 month with this Coding Bootcamp. Learn Git, Python, Google Cloud
              as your building blocks on your journey to becoming a web developer. This course will tackle
              the basics that every aspiring software developer will need to be able to compete and work
              with other fellow developers in the industry.", 
              "15,000") }}
          </div>
          <div class="tab-pane fade" id="others" role="tabpanel" aria-labelledby="others-tab">
            
          </div>
        </div>
        <!-- <div class="program-list-item">
          <div class="program-list-img" style="background-image: url('/img/card-img.jpg')"></div>
          <div class="program-list-body">
            <div class="program-list-details">
              <span class="super-title">Design</span>
              <div class="mb-2">
                <h4 class="mb-0">Graphic Design <span class="super-title c-red pl-1">Advanced</span></h4>  
              </div>
              <div class="program-list-sched mb-3">
                <p class="p2">3-Month Program</p>
                <p class="p2">Monday-Friday Schedule</p>
              </div>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </div>
            <div class="program-list-price">
              <div class="program-list-price-details">
                <span class="label2 mr-2">Starts at</span>
                <h6 class="mb-0 mr-2">Php 3,500</h6>
                <a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Info text goes here."><i class="material-icons">info</i></a>
              </div>
              
              <a href="/enrollment.html" class="btn btn-primary mt-4">Enroll</a>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>


  
{% include "partials/footer.njk" %}

{% endblock %}

{% block pagescript %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})  
</script>

{% endblock %} 