{% extends "layout.njk" %}

{% block content %}

<section class="banner-inner banner-inner-lg bg-full">
  {% import 'macros/nav.njk' as nav %}
  {{nav.active('')}}

  <div class="container banner-inner-content pt-5">
    <div class="row">
      <div class="col-12 col-lg-9">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
        <h2 class="mb-3 progTitle"></h2>
        <p class="c-white mb-0 progDuration"></p>
        <p class="c-white mb-0 progSched"></p>
      </div>
      <div class="col-12 col-lg-3 d-flex align-items-center">
        <a href="/enrollment.html" class="btn btn-primary mt-4 mt-lg-0">Enroll now</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-white c-black py-5">
  <div class="container py-lg-5">
    <div class="row justify-content-between">
      <div class="col-12 col-xl-7">
        <ul class="nav ns-nav-tabs --ns-nav-tabs-alt" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About <span class="d-none d-md-inline-block">Program</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="schools-tab" data-toggle="tab" href="#schools" role="tab" aria-controls="schools" aria-selected="false"><span class="d-none d-md-inline-block">Available</span> Schools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="works-tab" data-toggle="tab" href="#works" role="tab" aria-controls="works" aria-selected="false"><span class="d-none d-md-inline-block">Student</span> Works</a>
          </li>
        </ul>
        <div class="tab-content mt60 mb60" id="myTabContent">
          <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <div class="row">
              <div class="col-12 mb-5">
                <h5>Program Specifications</h5>
                <p class="mb-1">Duration: <span class="c-black fw-400 progDuration"></span></p>
                <p class="mb-1">Schedule: <span class="c-black fw-400 progSched"></span></p>
                <p class="mb-1">Time: <span class="c-black fw-400">1:00PM - 5PM</span></p>
                <p class="mb-1">Next Class: <span class="c-black fw-400">Jun 20, 2019</span></p>
              </div>
              <div class="col-12 mb-5">
                <h5>Program Information</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div class="col-12 mb-5">
                <h5>Program Highlights</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="pl-3"><span class="c-black fw-400">Design -</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p class="pl-3"><span class="c-black fw-400">Film -</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="schools" role="tabpanel" aria-labelledby="schools-tab">
            <div class="row">
              <div class="col-12 mb-5">
                <div class="enrollment-group-item">
                  <div class="enrollment-school-logo" style="background-image: url('/img/schools/spcfi.jpg')"></div>
                  <div class="enrollment-group-details pr-0 pr-md-3">
                    <h5>St. Paul College Foundation, Inc.</h5>
                    <p class="--address">
                      <i class="icon-location-pin icons"></i> 8634 Fadel Walks Suite 896</p>
                    <p class="--programs"><i class="icon-book-open icons"></i> 6 Programs</p>
                  </div>
                  <div class="ml-lg-auto mt-3 mt-lg-0 ">
                    <a href="/enrollment.html" class="btn btn-outline-primary">Enroll</a>
                  </div>
                </div>
                <div class="enrollment-group-item">
                  <div class="enrollment-school-logo" style="background-image: url('/img/schools/ihub.jpg')"></div>
                  <div class="enrollment-group-details pr-0 pr-md-3">
                    <h5>iHub</h5>
                    <p class="--address">
                      <i class="icon-location-pin icons"></i> 8634 Fadel Walks Suite 896</p>
                    <p class="--programs"><i class="icon-book-open icons"></i> 6 Programs</p>
                  </div>
                  <div class="ml-lg-auto mt-3 mt-lg-0 ">
                      <a href="/enrollment.html" class="btn btn-outline-primary">Enroll</a>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="works" role="tabpanel" aria-labelledby="works-tab">
            <div class="row">
              <div class="col-12 mb-5">
                <div class="work-gallery-container">
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/card-img.jpg"><div class="work-gallery-item" style="background-image: url(/img/card-img.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                  <a class="gallery-item" href="/img/bg-graphic-design.jpg"><div class="work-gallery-item" style="background-image: url(/img/bg-graphic-design.jpg);"></div></a>
                </div>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-4">
        <h6 class="mb40">Testimonials</h6>
        <div class="card --testimonial-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p class="fw-400 c-black mb-0 text-right">— Austin Robertson</p>
        </div>
        <div class="card --testimonial-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p class="fw-400 c-black mb-0 text-right">— Austin Robertson</p>
        </div>
        <div class="card --testimonial-card">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
          <p class="fw-400 c-black mb-0 text-right">— Austin Robertson</p>
        </div>
      </div>
    </div>
  </div>
</section>


  
{% include "partials/footer.njk" %}

{% endblock %}

{% block pagescript %}
<script>
$(document).ready(function() {

  $('.gallery-item').magnificPopup({
    type: 'image',
    gallery:{
      enabled:true
    }
  });

  let params = (new URL(document.location)).searchParams;
  let progTitle = params.get("progTitle");
  let progDuration = params.get("progDuration");
  let progSched = params.get("progSched");
  $(".progTitle").text(progTitle);
  $(".progDuration").text(progDuration);
  $(".progSched").text(progSched);
  
});
</script>
{% endblock %} 