.page-front {
  // padding-top: 5rem;
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
}

.home-banner {
	background: url(../img/hero-bg.svg) no-repeat 10vw 0;
	height: calc(100vh - 75px);
	position: relative;
	min-height: 600px;
	padding-top: 75px;
	padding-left: 0;
	padding-right: 0;
	background-size: cover;

	@media only screen and (min-width: 768px) {
		background: url("../img/hero-bg.svg") no-repeat right 0;
		background-size: contain;
		padding-left: 60px;
		padding-right: 60px;
		// margin-top: -80px;
	}
}

.cta-container {
	display: block;

	@media only screen and (min-width: 576px) {
		display: flex;
		align-items: flex-start;
	}

	.btn {
		width: 100%;

		@media only screen and (min-width: 576px) {
			width: initial;
		}

		&:first-child {
			margin-right: 1rem;
			margin-bottom: 1rem;

			@media only screen and (min-width: 576px) {
				margin-right: 1.8rem;
			}
		}
	}
}

.hero-text {
	font-size: 3.25rem;
	font-weight: 900;
	line-height: 66px;
	letter-spacing: -1px;

	@media only screen and (min-width: 425px) {
		font-size: 4rem;
		line-height: 76px;
	}

	@media only screen and (min-width: 576px) {
		font-size: 5rem;
		line-height: 86px;
	}

	@media only screen and (min-width: 992px) {
		font-size: 6rem;
		line-height: 96px;
	}
}

.play-icon {

	&:hover {
		opacity: 0.5;
	}
}

.sub-play {
	display: block;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 0.75rem;
	margin-top: 60px;

	a {
		color: $white;
	}

	i {
		color: $primary;
	}
}

.schools-feature img{
	width: 80px;
	margin: 0px 20px;
}

.feature img{
	width: 100%;

	@media only screen and (min-width: 992px) {
		width: auto;
	}
}


// .card {
// 	height: 435px;
// 	position: relative;
// 	margin-bottom: 30px;
// 	background-size: contain!important;
// }

.details-section {
	padding: 30px;
	background: $white;
	display: block;
	color: $black;
	// margin-top: 240px;
	position: absolute;
	width: 100%;
	bottom: 0;

	.super-title {
		margin-bottom: 6px;

		b {
			color: $light-grey;
			font-size: 18px;
		}

		span {
			color: $grey;
		}
	}

	h2 {
		font-weight: 900;
		font-size: 2.125rem;
		margin-bottom: 10px;
	}

	p {
		line-height: 24px;
		font-size: 1rem;
		margin-top: 24px;
		margin-bottom: 24px;
	}

	> span {
		font-size: 0.875rem;

		> b {
			font-weight: 400;
			color: $red;
		}
	}
}

.success-story-slides {

	img {
		width: 771px;
		max-width: 100%;
		height: 100%;
	}
}

.ns-cta {
    background: url(../img/ns-lines-big.svg) no-repeat center 0px;
    background-size: auto;
    height: 1220px;
    position: relative;
    min-height: 600px;
    padding-left: 20px;
		padding-right: 20px;
		margin-top: -180px;
		// z-index: -1;

		h2 {
			font-size: 3.2rem;

			@media only screen and (min-width: 425px) {
				font-size: 4rem;
			}

			@media only screen and (min-width: 768px) {
				font-size: 5rem;
			}
		}
}

.success-story-thumbs-nav {
	.slick-current {
		img {
			-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  			filter: grayscale(0%);
		}
	}

	img {
		width: 70px;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  		filter: grayscale(100%);
	}
}