.enrollment-banner {
  min-height: 365px;
  
  .banner-inner-content {
    h1 {
      margin-bottom: 30px;
    }
  }
  
}
.enrollment-container {
  background-color: $white;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.enrollment-form-container {
  background-color: $white;
  color: $black;
  padding: 60px 0;
  margin-top: 0;
  box-shadow: 0 6px 12px 0 rgba($black,0.06);

  @media screen and (min-width: 992px) {
    margin-top: -160px;
  }
}

.enrollment-form-header {
  padding: 0 60px;
}

.enrollment-group {
  padding: 0 60px;
}

.enrollment-group-item {
  padding: 30px 0;
  border-bottom: 1px solid $ghost;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 992px) {
    flex-direction: row;
  }
}

.enrollment-school-logo {
  width: 80px;
  min-width: 80px;
  height: 80px;
  background-color: $white;
  border:1px solid #f4f4f4;
  border-radius: 100%;
  margin-right: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.enrollment-group-details {
  p {
    margin: 0;
    font-size: 0.875rem;
    line-height: 24px;
    font-weight: 300;

    i {
      color: #BFBFBF;
    }
  }
}

.program-price {
  font-weight: 700;
  font-family: $font-primary;
  color: $black;

  span {
    font-weight: 400;
    opacity: .25;
    font-size: 0.75rem;
  }
}


// On dark background
.bg-black {
  .enrollment-group-item {
    border-color: #242424;
  }
  
  .enrollment-group-details {
    p {
      color: $white;
  
      i {
        color: $dark-grey;
      }
    }
  }
}

// On cream background
.bg-cream {
  p {
    color: $black;

    i {
      color: $dark-grey;
    }
  }
}