footer {
	margin: 60px 0px;

	@media screen and (min-width:992px){
		margin: 120px 0px 60px;
	}

	ul {
		padding-left: 0px;

		li {
			list-style: none;
			

			span {
				color: $primary;
				margin-bottom: 32px;
				display: block;
				font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 12px;

			}

			a {
				color: rgba($white, .7);
				margin-bottom: 16px;
				display: block;
				font-family: "Helvetica", sans-serif;
				font-weight: 300;
				font-size: 16px;
			}
		}
	}
}

.sub-footer {
	hr {
		width: 100%;
		height: 1px;
	  	color: #121212;
	  	background-color: #121212;
	  	border: none;
	}

	.copyright {
		font-size: 0.875rem;
		font-family: "Helvetica", sans-serif;
		color: $grey;
		opacity: 0.5;
		display: flex;
    align-items: center;
	}

	.symph {
		font-size: 0.875rem;
		font-family: "Helvetica", sans-serif;
		color: $grey;

		a {
			color: $white;
		}
	}

	> .social-media {
		a {
			margin-top: 0;
			font-size: 1.25rem;
			margin: 0px 15px;

			&:hover {
				color: $primary;
			}
		}
	}
}

.footer-logo {
	width: 80px;
	height: auto;
}

