{% macro enrollmentProgListItem(progCat, progTitle, progDuration, progSched, progPriceMonthly, progPriceTotal, progID) %}
    <div class="enrollment-group-item">
        <div class="enrollment-group-details">
            <span class="super-title">{{ progCat }}</span>
            <h5 class="program-title">{{ progTitle }}</h5>
            <p class="program-duration"><i class="icon-calendar icons"></i>{{ progDuration }}</p>
            <p class="program-schedule"><i class="icon-clock icons"></i>{{ progSched }}</p>
        </div>
        <div class="ml-lg-auto text-lg-right">
            <p class="program-price mb0 mt-3 mt-lg-0 program-monthly-fee">Php {{ progPriceMonthly }}<span>/mon</span></p>
            <p class="caption program-total-fee">Total {{ progPriceTotal }}</p>
            <div class="btn-group-toggle ml-lg-auto">
                <label class="btn btn-outline-primary">
                    <input type="radio" name="programs" value="{{ progTitle }}" id="{{ progID }}" autocomplete="off" class="js-next-step"> Select
                </label>
            </div>
        </div>
    </div>
{% endmacro %}