{% macro active(activePage='') %}

<div class="nav-container fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="/img/logo.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {%if activePage == 'programs' %} active {% endif %}">
                <a class="nav-link" href="programs.html">Programs
                </a>
            </li>
            <li class="nav-item {%if activePage == 'schools' %} active {% endif %} hide">
                <a class="nav-link" href="#">Schools</a>
            </li>
            <li class="nav-item {%if activePage == 'events' %} active {% endif %} hide">
                <a class="nav-link" href="#">Events</a>
            </li>
            <li class="nav-item {%if activePage == 'merch' %} active {% endif %} hide">
                <a class="nav-link" href="#">Merch</a>
            </li>
            <li class="nav-item {%if activePage == 'digest' %} active {% endif %} hide">
                <a class="nav-link" href="#">Digest</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {%if activePage == 'contact' %} active {% endif %}">
                <a class="nav-link" href="/contact.html">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-primary alt" href="/enrollment.html">Enroll</a>
            </li>
        </ul>
    </div>
  </nav>
</div>


{% endmacro %}