{% macro programListItem(progImg, progCat, progTitle, progLevel, progDuration, progSched, progDesc, progPrice) %}
<div class="program-list-item">
  <div class="program-list-img" style="background-image: url( {{progImg}} )"></div>
  <div class="program-list-body">
    <div class="program-list-details">
      <span class="super-title">{{ progCat }}</span>
      <div class="mb-2">
        <h4 class="mb-0"><a href="/specific-program.html?progTitle={{progTitle}}&progDuration={{progDuration}}&progSched={{progSched}}">{{ progTitle }}</a> <span class="super-title c-red pl-1">{{ progLevel }}</span></h4>  
      </div>
      <div class="program-list-sched mb-3">
        <p class="p2">{{ progDuration }}</p>
        <p class="p2">{{ progSched }} Schedule</p>
      </div>
      <p class="mb-0">{{ progDesc }}</p>
    </div>
    <div class="program-list-price">
      <div class="program-list-price-details">
        <span class="label2 mr-2">Starts at</span>
        <h6 class="mb-0 mr-2">Php {{ progPrice }}</h6>
        <a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Info text goes here."><i class="material-icons">info</i></a>
      </div>
      
      <a href="/enrollment.html" class="btn btn-primary mt-4">Enroll</a>
    </div>
  </div>
</div>
{% endmacro %}