<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-3 mb-5 mb-lg-0">
              <img src="/img/logo.svg" class="footer-logo" alt="NS Logo">
          </div>
          <div class="col-lg-2 mb-5 mb-lg-0 hide">
              <ul>
                  <li><span>About</span></li>
                  <li><a href="#">About NS Network</a></li>
                  <li><a href="#">Careers</a></li>
              </ul>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
              <ul>
                  <li><span>Network</span></li>
                  <li class="hide"><a href="#">Schools</a></li>
                  <li><a href="#">Programs</a></li>
                  <li class="hide"><a href="#">Join NS Network</a></li>
                  <li class="hide"><a href="#">Merchandise</a></li>
              </ul>
          </div>
          <div class="col-lg-2 mb-5 mb-lg-0 hide">
              <ul>
                  <li><span>Resources</span></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Digest</a></li>
                  <li><a href="#">Merchandise</a></li>
                  <li><a href="#">Press Kit</a></li>
              </ul>
          </div>
          <div class="col-lg-3 mb-5 mb-lg-0">
              <ul>
                  <li><span>Support</span></li>
                  <li><a href="#">Contact Us</a></li>
                  <li><a href="#">Terms of Service</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li class="hide"><a href="#">Sitemap</a></li>
              </ul>
          </div>
          <div class="col-lg-3">
              <ul>
                  <li><span>Connect</span></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Google+</a></li>
                  <li><a href="#">Youtube</a></li>
              </ul>
          </div>
      </div>
      <div class="row sub-footer">
          <hr class="mt60 mb60">
          <div class="col-12 col-md-6 col-lg-4 order-lg-1 order-2 justify-content-center justify-content-md-start copyright py-3 py-lg-0">
              © 2019 Symph. All Rights Reserved.
          </div>
          <div class="col-12 col-md-12 col-lg-4 order-lg-2 order-1 social-media text-center">
              <a href="#">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="#">
                  <i class="fab fa-youtube"></i>
              </a>
              <a href="#">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="#">
                  <i class="fab fa-google-plus-g"></i>
              </a>
          </div>
          <div class="col-12 col-md-6 col-lg-4 order-lg-4 order-3 text-center text-md-end symph">
              Made with ❤️ at <a href="https://www.symph.co/" target="_BLANK"> Symph.</a>
          </div>
      </div>
  </div>
</footer>