// Enter variables here

// Typefaces
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Helvetica', sans-serif;

// Colors
$primary: #FFC30F;
$white: #fff;
$ghost: #f1f1f1;
$black: #000;
$light-grey: #E4E4E4;
$grey: #9B9E9D;
$dark-grey: #555555;
$red: #E71818;

$success: #2BC94B;